@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
ol, ul {
  padding-left: 1rem;
}

ol {
  list-style: decimal;
}

ul {
  list-style: circle;
}